<html>
<head>
    <style>
        .button {
            text-decoration: none;
            color: white;
            background-color: #5DADBD;
            padding: 8px 24px 8px 24px;
            margin: 20px 20px 20px 20px;
            border-radius: 10px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }
    </style>
</head>
<body style="background-image: url('https://mentorsuccess-public.s3.us-west-2.amazonaws.com/home-background.png'); background-repeat: no-repeat; background-size: cover">
<div>
    <img src="https://mentorsuccess-public.s3.us-west-2.amazonaws.com/email-logo.png"/>
    <p>
        Dear $parentFirstName,
    </p>
    <p>
        MentorSuccess™ is a student mentoring program partnered with $schoolName, focused on creating
        caring connections to inspire success in children. This program is designed to enhance the social and
        educational experience for your child. Students and mentors work together to develop Leadership Success Skills
        involved in making life choices and creating healthy relationships for their future. Your child and their mentor
        will read books, play games, and do small crafts as desired. This program is designed to create an engaging
        atmosphere of healthy conversations while building resilient and successful life-long learners.
    </p>
    <p>
        Mentor sessions will take place at school and will be under the supervision of $programAdminName.
    </p>
    <p>
        We are writing to request permission for your child, $studentFirstName, to participate in the MentorSuccess™
        program. We thank you in advance for letting your child participate in this exciting learning experience!
    </p>


    <p>
        Click the button below to register your child.<br/>
        <br/><br/>
        <a class="button" href="http://google.com">Register My Child</a>
    </p>
    <p>
        <br/>
        If you have any questions, please feel free to contact $programAdminName at
        <a href="mailto:$programAdminEmail">$programAdminEmail</a>.
    </p>
    <p>
        Thank you!
    </p>
    <p>
        The MentorSuccess™ Team<br/>
        <a href="http://www.mentorsuccesskids.com">www.mentorsuccesskids.com</a>
    </p>
    <p>
        If you no long wish to receive these types of emails, please click <a href="#">here</a> to unsubscribe.
    </p>
</div>
</body>
</html>