<!--
  ~ Copyright 2023 Aion Technology LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        img {
            width: 75%;
            height: auto;
        }

        table {
            border-collapse: collapse;
        }

        td, th {
            border: black 1px solid;
            text-align: left;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
<div>
    <img src="https://mentorsuccess-public.s3.us-west-2.amazonaws.com/email-logo.png"/>
    <p>
        Dear ${programAdminName},
    </p>
    <p>
        Student registration has been completed for <b>${registration.studentFirstName}
        ${registration.studentLastName}</b>.
    </p>
    <table>
        <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Student First Name</td>
            <td>
                #if($registration.studentFirstName)
                    ${registration.studentFirstName}
                #end
            </td>
        </tr>
        <tr>
            <td>Student Last Name</td>
            <td>
                #if($registration.studentLastName)
                    ${registration.studentLastName}
                #end
            </td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>
                #if($registration.grade)
                    ${registration.grade}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 1 First Name</td>
            <td>
                #if($registration.parent1FirstName)
                    ${registration.parent1FirstName}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 1 Last Name</td>
            <td>
                #if($registration.parent1LastName)
                    ${registration.parent1LastName}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 1 Phone Number</td>
            <td>
                #if($registration.parent1PhoneNumber)
                    ${registration.parent1PhoneNumber}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 1 Email Address</td>
            <td>
                #if($registration.parent1EmailAddress)
                    ${registration.parent1EmailAddress}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 1 Preferred Contact Method</td>
            <td>
                #if($registration.parent1PreferredContactMethod)
                    ${registration.parent1PreferredContactMethod}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 2 First Name</td>
            <td>
                #if($registration.parent2FirstName)
                    ${registration.parent2FirstName}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 2 Last Name</td>
            <td>
                #if($registration.parent2LastName)
                    ${registration.parent2LastName}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 2 Phone Number</td>
            <td>
                #if($registration.parent2PhoneNumber)
                    ${registration.parent2PhoneNumber}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 2 Email Address</td>
            <td>
                #if($registration.parent2EmailAddress)
                    ${registration.parent2EmailAddress}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent 2 Preferred Contact Method</td>
            <td>
                #if($registration.parent2PreferredContactMethod)
                    ${registration.parent2PreferredContactMethod}
                #end
            </td>
        </tr>
        <tr>
            <td>Teacher</td>
            <td>
                #if($teacherName)
                    ${teacherName}
                #end
            </td>
        </tr>
        <tr>
            <td>Preferred Session</td>
            <td>
                #if($registration.preferredSession)
                    ${registration.preferredSession}
                #end
            </td>
        </tr>
        <tr>
            <td>Emergency Contact First Name</td>
            <td>
                #if($registration.emergencyContactFirstName)
                    ${registration.emergencyContactFirstName}
                #end
            </td>
        </tr>
        <tr>
            <td>Emergency Contact Last Name</td>
            <td>
                #if($registration.emergencyContactLastName)
                    ${registration.emergencyContactLastName}
                #end
            </td>
        </tr>
        <tr>
            <td>Emergency Contact Phone Number</td>
            <td>
                #if($registration.emergencyContactPhone)
                    ${registration.emergencyContactPhone}
                #end
            </td>
        </tr>
        <tr>
            <td>Parent Signature</td>
            <td>
                #if($registration.parentSignature)
                    ${registration.parentSignature}
                #end
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        Thank you,<br/>
        MentorSuccess™
    </p>
</div>
</body>
</html>