<!--
  ~ Copyright 2023 Aion Technology LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        img {
            width: 75%;
            height: auto;
        }
    </style>
</head>
<body>
<div>
    <img src="https://mentorsuccess-public.s3.us-west-2.amazonaws.com/email-logo.png"/>
    <p>
        Dear ${programAdminName}
    </p>
    <p>
        A request to <b>${teacherName}</b> for information on <b>${studentName}</b> has not been responded to for 14
        days. The request has been cancelled. Please contact the teacher directly.
    </p>
    <p>
        Thank you,<br/>
        MentorSuccess™
    </p>
</div>
</body>
</html>